/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

main {
  width: 960px;
  margin: 50px auto;
}

.item-list {
  margin-bottom: 50px;
}

.item {
  padding: 20px 0 20px 20px;
  list-style: none;
}

.item:nth-child(odd) {
  background-color: #eee;
}

.box-list {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
  background-color: #ffd700;
}

.box:first-child,
.box:nth-child(5),
.box:last-child {
  background-color: #ff8c00;
}

/*先頭から3の倍数*/
.box:nth-child(3n) {
  margin-right: 0;
}

/*最後から3番目まで*/
.box:nth-last-child(-n+3) {
  margin-bottom: 0;
}