.box1 {
  width:300px;
  height:300px;
  background-color:aquamarine;
  margin:30px;
  padding:30px;
}

.box2 {
  width:100px;
  height:100px;
  background-color: palevioletred;
  /* 枠線を指定 */
  border:5px solid whitesmoke;
}